// Variable Overrides

// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

a.nav-item:hover {
    text-decoration: underline;
}

a.nav-item.active:link {
    font-weight: bold;
}

.jumbotron {
    background: url("../media/pirate-ship.jpg") no-repeat center;
    background-size: cover;

}

.display-4 {
    color: white;
}

.display-6 {
    color: white;
}